body {

    height: 100vh;
    margin: 0;
    padding: 0; 

    display: grid;
    place-items: center;

    background-color: var(--background_color);
    background-image: linear-gradient(rgba(0, 0, 0, 0) 0px, black 100vh);
    transition: background-color 5s ease-in-out
}

#grid {
    display: grid;

}

.block {
    margin: 2px;
    border-radius: 10px;
}

.selected {
    border: 2px;
    border-style: solid;
    border-color: gold;

}

#brain, #bolt {
    filter: saturate(0);
    opacity: 50%;
}

#brain {
    position: absolute;
    right: 5%;
    bottom: 5%;
    width: 20%;
    transform-origin: center center;

}

#bolt {
    position: absolute;
    right: 10%;
    width: 10%;
    transform-origin: center center;
    rotate: -135deg;
}


.blood {
    background-color: rgb(134, 0, 0);
}

.guts {
    background-color: rgb(63, 105, 0);
}

.eyes {
    background-color: rgb(0, 0, 120);
}

.brain {
    background-color: rgb(199, 0, 96);
}

/* .remove {
    transition: opacity .3s ease;
    opacity: 0%;
} */

#score {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    left: 10%;
    top: 10%;
    color: white;
    font-size: xx-large;
}